.schedule-page-container {
    padding: 0 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule-page-calendar-container {
    margin-top: 20px;
    flex: 1;
    display: flex;
    background-color: #ffffff;
}

.schedule-page-container .forum-header {
    width: 100%;
}