.heart-rate-page-container {
    padding: 0 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.heart-rate-page-container .header-container {
    background-color: #06769e;
    color: #ffffff;
    padding: 5px;
}