.profile-content {
    padding: 0 20px;
}

.profile-info-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-avatar-container {
    flex: 1;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.profile-avatar {
    border-left: 1px solid #5adafb;
}

.profile-info-wrapper {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.profile-info-wrapper h2 {
    color: #545454;
}

.user-info-row {
    flex: 1;
    display: flex;
}

.profile-content ul {
    padding: 0px;
    margin: 0px;
}

.profile-content ul li {
    list-style-type: none;
    padding: 15px 10px;
    font-weight: 700;
    border-bottom: 1px solid #ededed;
    transition: all 0.2s linear;
}

.user-info-left {
    flex: 1;
    background-color: #fff;
    color: #5adafb;
}

.user-info-right {
    flex: 1;
    color: #545454;
}

.edit-button-container {
    display: flex;
    height: 70px;
    margin-top: 20px;
    padding: 10px;

}

.edit-button-container button {
    margin-left: 5px;
}

.edit-button-inner {
    display: inline-block;
    width: 100px;
}

.settings-table {
    flex: 1;
}

.settings-table ul li {
    display: flex;
    justify-content: center;
}
.settings-title {
    flex: 1;
}
.switcher-container {
    margin-right: 20px;
}
.update-avatar-container {
    padding: 40px;
    flex-direction: column;
}
.register-avatar-form {
    padding: 20px;
}