.topic {
    background-color: #fff;
    height: 140px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home .topic:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.topic:hover .row-middle .topic-description:before {
    background: linear-gradient(transparent 80px, transparent);
}

.topic:hover .row-middle .topic-readmore p {
    /*margin: 10px auto;*/
    background: #fff;
    border-radius: 12px;
    opacity: 1;
}

#home .topic:first-of-type {
    margin-top: 5px;
}

/******************/
.row-left {
    width: 10%;
    float: left;
    border-right: 1px solid #ededed;
}
.row-left .topic-category {
    margin-top: 30px;
    text-align: center;
}
.row-left .topic-category h2 {
    font-size: 2em;
}
.row-left .topic-category img {
    position: relative;
    padding: 5px;
    width: 100%;
    max-width: 50px;
    transform: translate(40%, 25%);
    z-index: 1;

}

.row-left .topic-category p {
    padding-top: 5px;
    font-size: 0.8em;
    text-align: center;

}

.row-middle {
    width: 70%;
    float: left;
    border-right: 1px solid #ededde;
}

.row-middle .topic-title-wrapper {
    border-bottom: 1px solid #ededed;
}

.row-middle .topic-title-wrapper h3 {
    padding: 4px 7px 0;
    font-size: 1.1em;
}

.row-middle .topic-title-wrapper p {
    font-size: 0.9em;
    padding: 2px 7px;
}

.row-middle .topic-description {
    position: relative;
    padding: 5px 0 30px 5px;
    height: 45px;
    overflow: hidden;
    line-height: 19px;
    font-size: 0.8em;
}

.row-middle .topic-description:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 60px, white);
}

.row-right {
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
}

.row-right .author-avatar {
    /*text-align:center;*/
}

.author-avatar img {
    width: 70px;
    margin: auto;
    border-radius: 50%;
}

.topic-meta {
    font-size: 0.8em;
    text-align: center;
}

.topic-meta .author,
.topic-meta .date {
    font-weight: bold;
    color: #000;
}

.left-topic-date {
    width: 50%;
    float: left;
}

.rigth-topic-date {
    width: 50%;
    float: left;
}

.topic-date {
    margin-top: 20px;
    text-align: center;
}

.topic-date p {
    font-size: 0.57em;
}

.topic-date .left-topic-date p {
    font-weight: bold;
    font-size: 0.7em;
}

.created-time {
    margin-left: 10px;
    margin-right: 10px;
}

.topic-readmore p {
    margin: 0px auto;
    width: 80%;
    opacity: 0;
    transition: all 0.4s;
    text-align: center;
}

.topic-readmore p:hover {
    transform: scale(1.2);
}

.topic-title .title-left h3 {
    /* border-right: 1px solid #ededde;*/
    color: #1d1d1d;
    font-size: 1.4em;
}

.topic-title-wrapper table td,
.topic-title-wrapper table th {
    padding: 2px 5px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 400;
    /* background-color: rgba(222,222,222,0.5);*/
}

.title-left {
    width: 57%;
}

.title-right {
    width: 43%;
}

.title-right img {
    max-width: 80%;
    float: left;
}

.topic-type span {
    padding: 0 10px;
    border-radius: 10px;
    font-size: 0.9em;
    background-color: #545454;
    color: #fff;
}
.grade-wrapper {
    display: inline-block;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #f7d259;
    background-color: #8ddcf8;
    color: #fff;
}

.topic-category p {
    font-weight: bold;
}

.topic-category .grade-wrapper h2 {
    margin-top: 4px;
}
/*#star-shape {*/
    /*margin: 25px 0;*/
    /*position: relative;*/
    /*display: block;*/
    /*color: red;*/
    /*width: 0px;*/
    /*height: 0px;*/
    /*border-right: 50px solid transparent;*/
    /*border-bottom: 35px solid red;*/
    /*border-left: 50px solid transparent;*/
    /*transform: rotate(35deg);*/
/*}*/
/*#star-shape:before {*/
    /*border-bottom: 40px solid red;*/
    /*border-left: 15px solid transparent;*/
    /*border-right: 15px solid transparent;*/
    /*position: absolute;*/
    /*height: 0;*/
    /*width: 0;*/
    /*top: -22.5px;*/
    /*left: -32.5px;*/
    /*display: block;*/
    /*content: '';*/
    /*transform: rotate(-35deg);*/
/*}*/
/*#star-shape:after {*/
    /*position: absolute;*/
    /*display: block;*/
    /*color: red;*/
    /*top: 3px;*/
    /*left: -52.5px;*/
    /*width: 0px;*/
    /*height: 0px;*/
    /*border-right: 50px solid transparent;*/
    /*border-bottom: 30px solid red;*/
    /*border-left: 50px solid transparent;*/
    /*transform: rotate(-70deg);*/
    /*content: '';*/
/*}*/