.card {
    display: flex;
    height: 175px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Raleway', sans-serif;
}
.card div {
    display: flex;
}

/********* Card Link Hover And Show More button *********/
.card a.card-link {
    flex: 1;
    display: flex;
}

.card:hover .row-middle .card-description:before {
    background: linear-gradient(transparent 80px, transparent);
}

div.card-read-more-button {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 80%;
    transform: translate(-50%, 0);
}
.card-read-more-button button {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    border-radius: 12px;
    opacity: 0;
    transition: all 0.4s;
    text-align: center;
    cursor: pointer;
    padding: 0 0;
}

.card:hover .row-middle .card-read-more-button button {
    padding: 3px 10px;
    opacity: 1;
}

#home .card:first-of-type {
    margin-top: 5px;
}


/************** Row Left ***************************/
.row-left {
    display: flex;
    flex-direction: column;
    width: 10%;
    min-width: 80px;
    border-right: 1px solid #ededed;
    justify-content: center;
    text-align: center;
}

div.grade-wrapper {
    display: inline-block;
    margin: 10px auto 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid transparent;
    background-color: #8ddcf8;
    color: #fff;
}

div.grade-wrapper h2 {
    text-align: center;
    font-size: 33px;
    transform: translate(1px,-5px);
}

/************** Row Middle ***************************/
.row-middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ededde;
    position: relative;
}

.row-middle-top {
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: 5px;
    border-bottom: 1px solid #ededed;
}

.row-middle-top-left {
    flex: 1;
    flex-direction: column;
    border-right: 1px solid #ededed;
}

.row-middle-top-left h3 {
    font-size: 22px;
    font-weight: bold;
}
.row-middle-top-right {
    flex: 1;
    align-items: center;
}

.row-middle-top-right p {
    padding: 5px;
}

.row-middle-bottom {
    flex: 1;
    padding: 10px;
}


/************** Row Right ************************/
.row-right {
    display: flex;
    width: 20%;
    min-width: 120px;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row-right .author-avatar {
    /*text-align:center;*/
}

/*.author-avatar img {*/
    /*width: 70px;*/
    /*margin: auto;*/
    /*border-radius: 50%;*/
/*}*/

/*.card-meta {*/
    /*font-size: 0.8em;*/
    /*text-align: center;*/
/*}*/

/*.card-meta .author,*/
/*.card-meta .date {*/
    /*font-weight: bold;*/
    /*color: #000;*/
/*}*/

/*.left-card-date {*/
    /*width: 50%;*/
    /*float: left;*/
/*}*/

/*.rigth-card-date {*/
    /*width: 50%;*/
    /*float: left;*/
/*}*/

/*.card-date {*/
    /*margin-top: 20px;*/
    /*text-align: center;*/
/*}*/

/*.card-date p {*/
    /*font-size: 0.57em;*/
/*}*/

/*.card-date .left-card-date p {*/
    /*font-weight: bold;*/
    /*font-size: 0.7em;*/
/*}*/

/*.created-time {*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
/*}*/

/*.card-readmore p {*/
    /*margin: 0px auto;*/
    /*width: 80%;*/
    /*opacity: 0;*/
    /*transition: all 0.4s;*/
    /*text-align: center;*/
/*}*/

/*.card-readmore p:hover {*/
    /*transform: scale(1.2);*/
/*}*/

/*.card-title .title-left h3 {*/
    /*!* border-right: 1px solid #ededde;*!*/
    /*color: #1d1d1d;*/
    /*font-size: 1.4em;*/
/*}*/

/*.card-title-wrapper table td,*/
/*.card-title-wrapper table th {*/
    /*padding: 2px 5px;*/
    /*text-align: center;*/
    /*font-size: 0.8em;*/
    /*font-weight: 400;*/
    /*!* background-color: rgba(222,222,222,0.5);*!*/
/*}*/

/*.title-left {*/
    /*width: 57%;*/
/*}*/

/*.title-right {*/
    /*width: 43%;*/
/*}*/

/*.title-right img {*/
    /*max-width: 80%;*/
    /*float: left;*/
/*}*/

/*.card-type span {*/
    /*padding: 0 10px;*/
    /*border-radius: 10px;*/
    /*font-size: 0.9em;*/
    /*background-color: #545454;*/
    /*color: #fff;*/
/*}*/



/*#star-shape {*/
/*margin: 25px 0;*/
/*position: relative;*/
/*display: block;*/
/*color: red;*/
/*width: 0px;*/
/*height: 0px;*/
/*border-right: 50px solid transparent;*/
/*border-bottom: 35px solid red;*/
/*border-left: 50px solid transparent;*/
/*transform: rotate(35deg);*/
/*}*/
/*#star-shape:before {*/
/*border-bottom: 40px solid red;*/
/*border-left: 15px solid transparent;*/
/*border-right: 15px solid transparent;*/
/*position: absolute;*/
/*height: 0;*/
/*width: 0;*/
/*top: -22.5px;*/
/*left: -32.5px;*/
/*display: block;*/
/*content: '';*/
/*transform: rotate(-35deg);*/
/*}*/
/*#star-shape:after {*/
/*position: absolute;*/
/*display: block;*/
/*color: red;*/
/*top: 3px;*/
/*left: -52.5px;*/
/*width: 0px;*/
/*height: 0px;*/
/*border-right: 50px solid transparent;*/
/*border-bottom: 30px solid red;*/
/*border-left: 50px solid transparent;*/
/*transform: rotate(-70deg);*/
/*content: '';*/
/*}*/