.card {
    display: flex;
    height: 175px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Raleway', sans-serif;
}
.card div {
    display: flex;
}

/********* Card Link Hover And Show More button *********/
.card a.card-link {
    flex: 1;
    display: flex;
}

.card:hover .row-middle .card-description:before {
    background: linear-gradient(transparent 80px, transparent);
}

div.card-read-more-button {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 80%;
    transform: translate(-50%, 0);
}
.card-read-more-button button {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    border-radius: 12px;
    opacity: 0;
    transition: all 0.4s;
    text-align: center;
    cursor: pointer;
    padding: 0 0;
}

.card:hover .row-middle .card-read-more-button button {
    padding: 3px 10px;
    opacity: 1;
}

#home .card:first-of-type {
    margin-top: 5px;
}


/************** Row Left ***************************/
.row-left {
    display: flex;
    flex-direction: column;
    width: 10%;
    min-width: 80px;
    border-right: 1px solid #ededed;
    justify-content: center;
    text-align: center;
}

div.grade-wrapper {
    /*display: inline-block;*/
    /*margin: 10px auto 5px;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*border-radius: 50%;*/
    /*overflow: hidden;*/
    /*border: 1px solid transparent;*/
    /*background-color: #8ddcf8;*/
    /*color: #fff;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8ddcf8;
}

div.grade-wrapper h2 {
    text-align: center;
    font-size: 33px;
    transform: translate(1px,-5px);
}

/************** Row Middle ***************************/
.row-middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ededde;
    position: relative;
}

.row-middle-top {
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: 5px;
    border-bottom: 1px solid #ededed;
}

.row-middle-top-left {
    flex: 1;
    flex-direction: column;
    border-right: 1px solid #ededed;
}

.row-middle-top-left h3 {
    font-size: 22px;
    font-weight: bold;
}
.row-middle-top-right {
    flex: 1;
    align-items: center;
}

.row-middle-top-right p {
    padding: 5px;
}

.row-middle-bottom {
    position: relative;
    padding: 5px 0 30px 5px;
    height: 64px;
    overflow: hidden;
    line-height: 19px;
}


/************** Row Right ************************/
.row-right {
    display: flex;
    width: 20%;
    min-width: 120px;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row-right .author-avatar {
    /*text-align:center;*/
}
div.row-desktop {
    width: 100%;
}

/************** Mobile View ************************/
div.row-mobile {
    display: none;
    padding: 10px 0;
    /*border-bottom: 1px solid #ededed;*/
    flex-direction: column;
}

div.row-mobile .row-middle-top {
    flex: 1;
    flex-direction: row;
    height: 80px;
    border-bottom: 1px solid #ededed;
    justify-content: stretch;
    align-items: stretch;

}

.row-mobile .heart-rate-text {
    font-size: 25px;
}

div.row-mobile .grade-container {
    /*flex: 1;*/
    width: 80px;
}

.card-read-more-button-mobile {
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.card-read-more-button-mobile .btn {
    padding: 4px 20px;
    margin-top: 2px;
    width: 94%;
    background: #fff;
    color: #06769e;
    border: 1px solid #ededed;
}

.row-mobile div.card-read-more-button {
    /*display: block;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*bottom: 10px;*/
    /*width: 80%;*/
    /*transform: translate(-50%, 0);*/
}
.row-mobile  .card-read-more-button button {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    border-radius: 12px;
    opacity: 0;
    transition: all 0.4s;
    text-align: center;
    cursor: pointer;
    padding: 0 0;
}

div.row-left-mobile {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ededed;
}

div.row-mobile div.grade-wrapper {
    flex: 1;
}
div.row-left-mobile .grade-wrapper h2 {
    font-size: 29px;
}

div.row-top-mobile .author-avatar {
    flex: 1;
}
div.row-top-mobile .author-avatar img {
    width: 50px;
    height: 50px;
}

@media (max-width: 600px) {
    .card {
        height: 200px;
    }
    div.row-desktop {
        display: none;
    }
    .card a.card-link {
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
    }
    div.row-left {
        display: none;
    }
    .row-middle {
        flex: 1;
    }
    div.row-right {
        display: none;
    }
    div.row-mobile {
        display: flex;
    }

}