@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik");

#login {
    width: 100%;
    /*background-image: url("/static/media/main_background.0c5679d9.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*max-width: 350px;*/
}

.login-container {
    margin: auto;
    flex-direction: column;
}
.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper img {
    width: 100px;
}

.login-wrapper {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
    padding: 1%;
    font-size: 1.2em;
    font-family: "Rubik", sans-serif;
}

.login-wrapper .dont-have-acc {
    text-align: center;
    color: #6b6a6a;
    margin-top: 10px;
}

.login-wrapper h1,
.login-wrapper h2,
.login-wrapper h3 {
    text-align: center;
    margin-top: 10px;
}

.login-wrapper button:active {
    transform: scale(1.1);
}

.login-wrapper .dont-have-acc a {
    color: #1d1d1d;
}

.login-wrapper .form-wrapper {
    /*border: 1px solid #222;*/
    margin-top: 10px;
    padding: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    background: #ffffff;
}

.spin-container {
    margin-left: 10px;
    position: absolute;
}

.facebook-login {
    margin-top: 50px;
    text-align: center;
}

/*.facebook-login h2 {*/
/*text-align: center;*/
/*}*/

.facebook-logo img {
    max-width: 100px;
    width: 100%;
    cursor: pointer;
}

.facebook-logo img:active {
    transform: scale(1.1);
    opacity: 0.9;
}
.form-wrapper.email-login {
    padding: 25px;
}
/**************** Test Login ************************/
.test-login {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.test-login .login-box-wrapper {
    flex: 1 1 0;
    display: flex;
    padding: 5px;
    height: 100px;
}

.test-login .login-box {
    flex: 1;
    display: flex;
    border: 1px solid #61dafb;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.test-login .login-box:hover {
    background-color: transparent;

}

.test-login .login-box:hover h4 {
    color: #61dafb;
}

.test-login .login-box h4 {
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.tes-login-links {
    flex: 1;
    display: flex;
    padding: 0 2%;
}