@import url('https://fonts.googleapis.com/css?family=Raleway:500,600');

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    background-color: #ededed;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    color: inherit;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: inherit;
}

/*Helper Classes*/
.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

/*Layout*/
.page {

}

.content {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding-top: 95px;
    padding-bottom: 50px;
    justify-content: center;
}

.container {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    max-width: 1200px;
}

.leftSide {
    display: flex;
    width: 220px;
    flex-direction: column;
    align-items: stretch;
    transition: all 0.6s;
    left: 0;
}

.rightSide {
    flex: 1;
    display: flex;

}

@media only screen and (max-width: 1200px) {
    .left {
        display: none;
    }

    .right {
        width: 100%;
    }
}

.fl_c {
    clear: both;
}

.fl_r {
    float: right;
}

.fl_l {
    float: left;
}

.theme-color_txt {
    color: rgb(97, 218, 251);
}

.left > div {
    position: fixed;
    width: 240px;
    height: 100vh;
    padding-right: 10px;
    box-sizing: content-box;
    background-color: #ededed;
    transition: top 0.25s;
}

img {
    max-width: 100%;
}

form {
    width: 100%;
    display: block;
}

form label, form input, form button, form textarea {
    display: block;
    width: 100%;
    margin: auto;
}

form input {
    height: 30px;
    font-size: 1em;
}

form label {
    margin: 5px auto 2px;
    color: #6b6a6a;
}

form button {
    margin-top: 20px;
    padding: 10px;
}

form textarea {
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 1.4em;
}

.section-header {
    padding: 10px;
    background-color: #222;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-header h2 {
    font-size: 1em;
}

.register-page {
    margin: auto;
    width: 500px;
}

.register-page .btn {
    margin-top: 20px;
}

.avatar-square {
    float: left;
    width: 12.5%;
}

.avatar-square img {
    max-width: 100%;
    cursor: pointer;
    opacity: 0.7;
}

.avatar-wrapper:after {
    content: '';
    display: block;
    clear: both;
}

input#img1,
input#img2,
input#img3,
input#img4,
input#img5,
input#img6,
input#img7,
input#img8,
input#img9,
input#img10,
input#img11,
input#img12,
input#img13,
input#img14,
input#img15,
input#img16 {
    display: none;
}

.avatar-square input:checked + label img,
.avatar-square input:checked + label {
    transform: scale(1.14);
    opacity: 1;
}

.avatar-title {
    padding: 20px 0 0;
}

.avatar-wrapper .avatar-row {
    margin: 5px auto;
}

/*
*********** Lesson Page ****************
*/
.lesson-container {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.full-post {
    position: relative;
    background-color: #fff;
}

.post-details-container {
    min-height: 145px;
    display: flex;
}

.post {
    float: left;
    width: 80%;
    padding: 5px;
    border-right: 1px solid #e2e2e2;
}

.post-title h2 {
    font-size: 1.5em;
}

.lesson-detail-container .post-title h2 {
    font-size: 1.5em;
}

.post .post-info {
    font-style: italic;
}

.author-info {
    float: right;
    width: 20%;
    padding: 20px 5px;
    font-size: 0.8em;
    text-align: center;
}

.author-info img {
    width: 30%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.btn {
    padding: 7px 20px;
    border: 1px solid rgb(97, 218, 251);
    background-color: rgb(97, 218, 251);
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.6s;
}

.btn,
.btn:hover,
.btn:active,
.btn:focus,
.btn:visited {
    text-decoration: none;
    outline: none;
}

.btn:active {
    transform: scale(1.05);
    transition: none;
}

.btn-animation-on:hover {
    background-color: rgba(251, 251, 251, 0.6);
    color: rgb(97, 218, 251);
}

.navigation-buttons .btn:hover {
    background-color: rgba(251, 251, 251, 0.6);
    color: #000;
}

.new-post-body {
    padding: 20px;
    color: inherit;
}

.new-post-body select {
    display: inline-block;
    margin-left: 10px;
    height: 35px;
    font-size: 1em;
}

.new-post-body h3, .new-post-body label {
    display: inline-block;
    width: auto;
}

.new-post-body input {
    width: 10%;
    display: inline-block;
    margin-left: 11px;
}

.new-post-body .category-select {
    margin-top: 10px;
}

.post .post-info {
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.post .post-text {
    padding: 10px;
    font-size: 1.2em;
    line-height: 1.4em;
}

.quote {
    border: 1px solid #e2e2e2;
    padding: 10px;
    width: 98%;
    margin: 5px auto 10px;
}

quote-authorName {
    font-style: italic;
}

.reply-to-this {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(32, 35, 42, 0.65);
}

.reply-to-this:hover {
    cursor: pointer;
}

.reply-to-this_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    color: #fff;
    font-size: 2em;
    overflow: hidden;
}

.reply-to-this-text-inner {
    transition: all 0.6s;
}

.comments-wrapper .full-post:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 45px;
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    z-index: 1;
}

.click-to-reply p {
    margin: 0px auto;
    width: 80%;
    opacity: 0;
    border-radius: 12px;
    transition: all 0.4s;
    text-align: center;
    background-color: rgba(32, 35, 42, 0.65);
}

.click-to-reply p:hover {
    transform: scale(1.2);
}

.post-page .full-post:hover .click-to-reply p {
    /*margin: 10px auto;*/
    opacity: 1;
}

.post-page .full-post:active .click-to-reply p {
    opacity: 0;
}

.quote-comment {
    margin: 10px;
    padding: 5px;
    display: inline-block;
    border: 1px solid #ededed;
}

.quote-comment:hover {
    background-color: rgba(32, 35, 42, 0.15);
    cursor: pointer;
}

/*
*************Home Index***************
*/
.forum-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.forum {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.forum-content {
    /*background-color: #fff;*/
    margin-top: 10px;
    overflow: hidden;
    transition: all 0.6s ease-in;
    padding: 0 15px;
}

.forum-content h2 {
    margin-top: 0px;
    text-align: center;
}

.forum-content-inner {
    padding-bottom: 20px;
}

.forum-header {
    width: 100%;
    display: flex;
    min-height: 45px;
    padding: 10px;
    margin: 0;
    background-color: #20232a;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.week-switcher {
    flex: 1;
    flex-direction: column;
}

.forum-title {
    display: inline-block;
}

.forum-title h2 {
    font-size: 1.2em;
    padding: 5px 10px;
}

/*Arrors*****/
.arrors {
    position: relative;
    width: 50px;
    height: 35px;
    float: right;
    cursor: pointer;
    transform: rotateZ(0deg) translate(10%, 0%);
}

.leftArrow {
    position: absolute;
    height: 20px;
    left: 36%;
    border-right: 5px solid #fff;
    -webkit-transform: rotate(130deg) translate(100%);
    -ms-transform: rotate(130deg) translate(100%);
    transform: rotate(135deg) translate(100%, -13%);
}

.rightArrow {
    position: absolute;
    height: 20px;
    left: 65%;
    border-right: 5px solid #fff;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(45deg) translate(0, 35%);
}

.load-more-wrapper {
    margin-top: 10px;
}

/*************** 768px  ************************/

@media only screen and (max-width: 768px) {
    .leftSide {
        position: relative;
        left: -240px;
        width: 0;
    }

    .forum-container {
        padding: 0;
    }

    .page {
        padding-bottom: 80px;
        min-height: 100vh;
    }
}

@media only screen and (max-width: 600px) {
    .forum-header {
        flex-direction: column;
        width: auto;
        margin: 0 15px;
    }

    .forum-title {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        /*color: orange;*/
    }

    .week-switcher {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-left-container,
    .button-right-container {
        color: orange;
    }
}
