.post-info h2 {
    font-size: 1.2em;
}

.lesson-detail-grade {
    font-size: 1.5em;
}

.lesson-details-note-header {
    width: 100%;
    display: flex;
    min-height: 45px;
    padding: 5px;
    margin: 0;
    border-bottom: 1px dotted #e2e2e2;
    /*background-color: #20232a;*/
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}