@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik");

.side-bar-container {
    display: flex;
    flex-direction: column;
}

.side-bar-item-header h3 {
    background-color: #222;
    color: white;
    padding: 10px;
    margin: 0px;
    font-size: 1em;
}

.search-filter {
    color: #222;
    font-family: sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-filter h5 {
    background-color: #222;
    color: white;
    padding: 10px;
    margin: 0px;
}

/*Menu Styles*/
.menu-container {
    color: #222;
    font-family: sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-container ul {
    padding: 0px;
    margin: 0px;
}

.menu-container ul li {
    list-style-type: none;
    padding: 5px 10px;
    font-weight: 700;
    border-bottom: 1px solid #ededed;
    transition: all 0.2s linear;
    background-color: #ffffff;;
}

.menu-container li:hover {
    cursor: pointer;
    background-color: #ededed;
}

.filter-count {
    float: right;
}
