@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik");

.search-filter {
    color: #222;
    font-family: sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-filter h5 {
    background-color: #222;
    color: white;
    padding: 10px;
    margin: 0px;
}

.search-filter ul {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.search-filter ul li {
    list-style-type: none;
    padding: 15px 10px;
    font-weight: 700;
    border-bottom: 1px solid #ededed;
    transition: all 0.2s linear;
}

.search-filter li:hover {
    cursor: pointer;
    background-color: #ededed;
}

.filter-count {
    float: right;
}
