#home .card:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.no-lessons-message {
    text-align: center;
    font-size: 2em;
}

@media (max-width: 768px) {
    .no-lessons-message {
        font-size: 1em;
    }
}