.event-modal-container {
    padding: 0 10px;
}

.event-modal-body {
    position: relative;
}

.event-modal-container input {
    border: 1px solid #ededed;
}

.event-modal-header {
    padding: 5px 0;
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
}

.event-modal-time-input {
    padding: 10px 0;
    display: flex;
}

.event-modal-time-input-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.event-modal-container h3 {
    font-weight: bold;
    color: rgba(0,0,0, 0.85);
}

.event-modal-all-day-checkbox {
    display: flex;
    align-items: center;
}

.event-modal-all-day-checkbox h3 {
    display: inline-block;
}

.event-modal-all-day-checkbox input[type='checkbox'] {
    margin: 0 5px;
    display: inline;
}

.event-modal-spin-layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0.7);
    z-index: 2;
}

.event-modal-color-picker {
    margin-top: 25px;
}

.color-container {
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.color-title-container {
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.color-picker {
    margin: 5px 10px;
    display: inline-block;
}

.color-box {
    height: 25px;
    width: 40px;
    display: inline-block;
    border: 1px solid #000;
}

.modal-remove-button {
    margin-top: 20px;
    background-color: #d81315;
    border: 1px solid #d81315;
}
.modal-remove-button:hover {
    color: #d81315;
}

@media all and (max-width: 600px) {
    .event-modal-time-input {
        flex-direction: column;
    }
    .event-modal-time-input div {
        margin-bottom: 5px;
    }
    .ant-modal-body {
        padding: 24px 10px !important;
    }
}