.day-date-view-container {
    margin-bottom: 15px;
}

.day-date-view-title-container {
    padding: 10px;
    background-color: #222;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.day-date-view-title-container h2 {
    font-size: 1em;
}
