@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik");
.login-wrapper {
  max-width: 300px;
  width: 100%;
  display: block;
  margin: auto;
  font-size: 1.2em;
  font-family: "Rubik", sans-serif; }
  .login-wrapper .dont-have-acc {
    text-align: center;
    color: #6b6a6a;
    margin-top: 10px; }
    .login-wrapper .dont-have-acc a {
      color: #1d1d1d; }
  .login-wrapper .form-wrapper {
    border: 1px solid #222;
    margin-top: 10px;
    padding: 20px; }
